html, body {
	margin: 0;
	padding: 0;
}

#todoList {
	width: 550px;
	margin: 0 auto;
	margin-top: 150px;
}

#todoList #todoList-input {
	width: 540px;
	height: 40px;
	padding-left: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	font-size: 20px;
	color: #aaa;
}

#todoList #list {
	list-style: none;
	padding: 0;
}

#todoList #list li {
	width: 530px;
	overflow: scroll;
	margin-bottom: 20px;
	padding: 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
}

#todoList #list .close {
	color: #e60000;
	float: right;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}